.leave-button {
    padding: 10px 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    height: 50px;
    min-width: 120px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background: linear-gradient(45deg,  #57DFF2, #004D74); 
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    margin-left: auto;
    
  }
  
  .leave-button:hover {
    transition: all 0.3s ease;
    background: linear-gradient(45deg, #8afbff, #ffffff); 
    color: #00647A;
  }

  .leave-button-size{
    min-width: 160px;
  }

  @media (max-width: 768px) {
    .leave-button-size{
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }
  }